* {
    color:rgb(54, 4, 4);
}
button {
color :rgb(226, 43, 43);
}
body {
    background-color:lightgray;
}
option {
    color:rgb(0, 128, 0)
}
h1{
    text-align: center;  
}
h1 {  
width:500px;
height: 50px;
background-color:bisque;
border-width:3px;
border-style:dashed;
border-color:black;
text-align: center;
}  
#outer{
  font-size: large;
}